#map {
	height: 100%;
	position: unset !important;
}

aside {
    color: white;
	background: #151111d6;
	height: 100vh;
	width: 30%;
	min-width: 300px;
	max-width: 400px;
	position: fixed;
	z-index: 2;
}

@media screen and (max-width: 830px) {
	aside {
		height: 10vh;
	}
}
